body {
    margin: 0px;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-size: 18px;
    line-height: 20px;
    background-image: url('pictures/background.png');
}

header {
	position: relative;
	margin: 0 auto;
	width: 500px;
	top: 100px;
	height: 300px;
}

header h1 {
	text-align: center;
    font-size: 60px;
    line-height: 62px;
    margin: 0 0 6px 0;
    letter-spacing: -0.08em;
}
.box {
	text-align: center;
	background-color: #fff;
    margin: 0 auto;
    position: relative;
    width: 250px;
    float: left;
    margin-left: 150px;
	height: 250px;
    -webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.13);    
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.13);
}

.content {
	margin-top:50px;
}

.social-icons {
    position: relative;
    top: 10px;
    text-align: center;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.social-icons img:hover {
	transform: scale(1.25);
}

.fade-in:hover {
	transform: scale(1.03);
}

.box a,
.box a:hover {
    color: #555;
    text-decoration: none;
}

/*==================================================
 * Effect 3
 * ===============================================*/
.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; }}
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; }}

.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
}

.fade-in.one {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
}

.fade-in.two {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
}

.fade-in.three {
	animation-delay: 1.6s;
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1000;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.footer {
  position: absolute;
  left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #666;
}
